
@{
    ViewData["Title"] = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        <table>
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Birim Fiyat</th>
                    <th>Adet</th>
                    <th>Ara Toplam</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <span>Ödemeniz Gereken Toplam Tutar : </span>
                <h1>0 TL</h1>
                <button class="btn btn-info">Alışverişe Devam Et</button>
                <button class="btn btn-primary">Ödeme Yap</button>
            </div>
        </div>
    </div>
</div>

